@import "tailwindcss";
@import "tw-animate-css";

:root {
    --primary: #c290c6;
    --primary-dark: #bc79c1;
    --primary-darker: #ba68c0;
    --primary-light: #dcbddf;
    --primary-lighter: #efe1f1;
    --accent: #ffdf91;
    --accent-light: #ffe9b3;
    --accent-lighter: #fff2cc;
    --third: #f58a8a;
    --third-light: #fea9ac;
    --third-lighter: #ffb9ba;
    --white: #fff7e1;
    --black: #494742;
    --black-translucent: #494742cc;

    --background: var(--white);
    --secondary-background: var(--accent-light);
    --foreground: var(--black);
    --main-foreground: var(--black);
    --main: var(--primary);
    --border: var(--black);
    --ring: var(--black);
    --overlay: var(--black-translucent);
    --shadow: 2px 2px 0px 0px var(--border);
    --chart-1: var(--primary);
    --chart-2: var(--accent);
    --chart-active-dot: var(--black);
}

@theme inline {
    --color-main: var(--main);
    --color-background: var(--background);
    --color-secondary-background: var(--secondary-background);
    --color-foreground: var(--foreground);
    --color-main-foreground: var(--main-foreground);
    --color-border: var(--border);
    --color-overlay: var(--overlay);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);

    --spacing-boxShadowX: 2px;
    --spacing-boxShadowY: 2px;
    --spacing-reverseBoxShadowX: -2px;
    --spacing-reverseBoxShadowY: -2px;
    --radius-base: 10px;
    --shadow-shadow: var(--shadow);
    --font-heading: "alphabet-soup-pro";
    --font-sans: "Courier";
    --font-mono: "Courier";
    --font-weight-base: 500;
    --font-weight-heading: 700;
}

@layer base {
    body {
        @apply text-foreground font-base bg-background;
        min-height: 100vh;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-heading;
    }
}

/** Cursor */
* {
    cursor:
        url("/cursor.svg") 2.5 4,
        auto !important;
}

*:active {
    cursor:
        url("/cursor.svg") 2.5 4,
        auto !important;
}

.font-heading {
    color: var(--primary-darker);
    font-size: 1.5rem;
}

.bg-main-dark {
    background-color: var(--primary-dark);
}

.bg-main-darker {
    background-color: var(--primary-darker);
}

.bg-main-light {
    background-color: var(--primary-light);
}

.bg-main-lighter {
    background-color: var(--primary-lighter);
}

.bg-accent {
    background-color: var(--accent);
}

.bg-accent-light {
    background-color: var(--accent-light);
}

.bg-accent-lighter {
    background-color: var(--accent-lighter);
}

.bg-third {
    background-color: var(--third);
}

.bg-third-light {
    background-color: var(--third-light);
}

.bg-third-lighter {
    background-color: var(--third-lighter);
}

.text-main-dark {
    color: var(--primary-dark);
}

.text-main-darker {
    color: var(--primary-darker);
}

.text-main-light {
    color: var(--primary-light);
}

.text-main-lighter {
    color: var(--primary-lighter);
}

.text-accent {
    color: var(--accent);
}

.text-accent-light {
    color: var(--accent-light);
}

.text-accent-lighter {
    color: var(--accent-lighter);
}

.text-third {
    color: var(--third);
}

.text-third-light {
    color: var(--third-light);
}

.text-third-lighter {
    color: var(--third-lighter);
}

input[type="file"]::file-selector-button {
    border: 2px solid #6c5ce7;
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    background-color: #a29bfe;
    cursor: pointer;
}

/* Converts png to pure white while respecting its transparency */
.white-filter {
    filter: brightness(0) invert(1);
}

.flip-horizontal {
    transform: scaleX(-1);
}

.loading {
    cursor: wait;
}

label {
    margin-right: 0.5em;
}
